<!-- FOOTER -->
<div class="footer">
  <div class="container">
    <a href="#" class="logo_link">Vocamy🥑</a>
  </div>
  <div class="container">
    <div class="footer_content">
      <div>
        <ul>
          <li>
            <a>Pricing</a>
          </li>
          <li>
            <a>About</a>
          </li>
          <li>
            <a>Promo</a>
          </li>
          <li>
            <a>Reviews</a>
          </li>
          <li>
            <a>Merchandise</a>
          </li>
          <li>
            <a>Compare</a>
          </li>
          <li>
            <a>Shipping</a>
          </li>
          <li>
            <a>Community</a>
          </li>
        </ul>
      </div>
      <div>
        <ul>
          <li>
            <a>FAQ</a>
          </li>
          <li>
            <a>Contact</a>
          </li>
          <li>
            <a>News</a>
          </li>
          <li>
            <a>Streaks</a>
          </li>
          <li>
            <a>Help Center</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="footer_email">
      <a class="big">Be a Lyrics-_ Explorer!</a>
      <form>
        <input class="input" placeholder="Your email">
      </form>
      <a class="small">Join our newsletter and receive tasty news and deals!<a>
    </div>
  </div>
</div>
<div class="copyright">
  <div class="privacy">
    <a>Privacy Policy</a>
  </div>
  <div class="terms">
    <a>Terms of Service</a>
  </div>
  <div class="rights">
    <a>Copyright ©︎2019 Vocamy™️. All Rights Reserved.</a>
  </div>
</div>