<!-- NAVBAR -->
<div class="navbar">
  <a href="#" class="navbar_menu">  VOCA  </a>
  <a href="#" class="navbar_menu">  SENTENCE  </a>
  <a href="#" class="navbar_menu">  NEW  </a>
  <a href="#" class="navbar_menu">  ABOUT  </a>
</div>