<!-- TOPBAR -->
<div class="topbar">
  <div class="search">
  </div>
  <div class="logo_container">
    <a href="#" class="logo_link">Vocamy🥑</a>
  </div>
  <div class="menu_container">
    <ul>SIGN UP</ul>
    <ul>SIGN IN</ul>
  </div>
</div>