/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 $color-main: #311B3A;
 $color-sub: #A79EAC;
 $color-word: #444A57;

body {
  margin: 0;
  background-color: rgb(255, 255, 255)
}
.content {
  padding: 1rem 2.5rem;
}
/* HEADER */
.header-container {
}

 /* TOPBAR */
.topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height:48px;
  align-items: center;
  font-family: 'Baloo', cursive;
  background-color: $color-main;

  .logo_container {
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 24px;
      a, a:visited {
        color: white;
        text-decoration: none;
      }
  }
  .menu_container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    ul {
      margin: 0 0 0 1em;
      padding: 0;
    }
    a, a:visited {
      color: white;
      font-size: 14px;
      text-decoration: none;
      text-align: center;
    }
  }
}

/* NAVBAR */
.navbar{
  height:36px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: 'Baloo', cursive;
  background-color: $color-sub;

  .navbar_menu {
    flex-basis: 100%;
    text-align: center;
    font-size: 14px;
  }
  a, a:visited {
    color: white;
    text-decoration: none;
    &:hover {
      color: #edeb7a;
    }

  }
}

 /* FORM */
.form_all{
}

 /* FOOTER */

 .footer {
  display: flex;
  flex-direction: row wrap;
  justify-content: space-around;
  height: 300px;
  padding: 30px, 70px;
  font-family: 'Baloo', cursive;
  background-color: $color-main;

  .container {
    flex-basis: 60%;
    text-align: left;
    margin: 50px 50px;
    font-family: 'Pacifico', cursive;
    font-size: 32px;
      a, a:visited {
        color: white;
        text-decoration: none;
      }
  }
  
  .footer_content {
    display: flex;
    flex-direction: row wrap;
    font-family: 'Karla', sans-serif;
    font-size: 14px;
    text-align: left;
    ul {
      list-style: none;
      color: white;
      li {
        margin-bottom: 10px;
      }
      a, a:visited {
        color: white;
        text-decoration: none;
      }
    }
  }
  
  .footer_email {
    color: white;
    text-align: left;

    .input {
      height: 28px;
      width: 256px;
      padding: 3px 9px;
      border: none;
    }

    .big {
      font-family: 'Baloo', cursive;
      font-size: 24px
    }
    .small {
      font-family: 'Karla', sans-serif;
      font-size: 13px
    }

  }
}
.copyright {
  display: flex;
  justify-content: space-around;
  height: 30px;
  padding: 20px 30px;
  flex-direction: row wrap;
  background-color: $color-main;
  color: white;
  font-family: 'Karla', sans-serif;
  font-size: 14px;
  > div {
    margin: 0px 40px;
  }
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid gray;
  }
}