/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 $color-main: #311B3A;
 $color-sub: #A79EAC;
 $color-word: #444A57;

body {
  margin: 0;
  background-color: rgb(255, 255, 255)
}
.content {
  padding: 1rem 2.5rem;
}
/* HEADER */
.header-container {
}

 /* TOPBAR */
.topbar {
  display: flex;
  justify-content: center; 
  position: relative;
  height:48px;
  align-items: center;
  font-family: 'Baloo', cursive;
  background-color: $color-main;

  .logo_container {
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 24px;
      a, a:visited {
        color: white;
        text-decoration: none;
      }
  }
  .menu_container {
    position: absolute;
    right: 5%; 
    display: flex;
    justify-content: flex-end;
    text-align: center;
    ul {
      margin: 0 0 0 1em;
      padding: 0;
    }
    a, a:visited {
      color: white;
      font-size: 14px;
      text-decoration: none;
      text-align: center;
    }
  }
}

/* NAVBAR */
.navbar{
  padding-right: 5%;
  height:36px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  background-color: $color-sub;

  .navbar_menu {
    flex-basis: 100%;
    text-align: center;
    font-size: 14px;
  }
  a, a:visited {
    color: black;
    text-decoration: none;
    &:hover {
      color: pink;
    }

  }
}

 /* FORM */
.form_all{
}

 /* FOOTER */

 .footer {
  display: flex;
  flex-direction: row wrap;
  justify-content: space-around;
  height: 300px;
  padding: 30px, 70px;
  font-family: 'Baloo', cursive;
  background-color: $color-main;

  .container {
    flex-basis: 60%;
    text-align: left;
    margin: 50px 50px;
    font-family: 'Pacifico', cursive;
    font-size: 32px;
      a, a:visited {
        color: white;
        text-decoration: none;
      }
  }
  
  .footer_content {
    display: flex;
    flex-direction: row wrap;
    font-family: 'Karla', sans-serif;
    font-size: 14px;
    text-align: left;
    ul {
      list-style: none;
      color: white;
      li {
        margin-bottom: 10px;
      }
      a, a:visited {
        color: white;
        text-decoration: none;
      }
    }
  }
  
  .footer_email {
    color: white;
    text-align: left;

    .input {
      height: 28px;
      width: 256px;
      padding: 3px 9px;
      border: none;
    }

    .big {
      font-family: 'Baloo', cursive;
      font-size: 24px
    }
    .small {
      font-family: 'Karla', sans-serif;
      font-size: 13px
    }

  }
}
.copyright {
  display: flex;
  justify-content: space-around;
  height: 30px;
  padding: 20px 30px;
  flex-direction: row wrap;
  background-color: $color-main;
  color: white;
  font-family: 'Karla', sans-serif;
  font-size: 14px;
  > div {
    margin: 0px 40px;
  }
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid gray;
  }
}

.usershow {
  display: flex;
  flex-direction: column;
  margin: 6%;
  width: 50%;
  font-family: 'Source Sans Pro', sans-serif;

  #usershowtitle {
    font-family: 'Baloo', cursive;    
  }

  #usershowname {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    h1 {
      margin-right: 5%;
    }
    a, a:visited {
      text-decoration: none;
      color: #0ecb27;
      font-size: 18px;
    }
    a:hover {
      color: pink;
    }
  }

  #usershowinfo {
    border-top: 2px solid gray;
    padding: 4%;
  }
}

/* Users edit */
.useredit {
  display: flex;
  flex-direction: column;
  margin: 6%;
  width: 50%;
  font-family: 'Source Sans Pro', sans-serif;

  #usereditname {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    h1 {
      margin-right: 5%;
    }
  }

  .usereditform {
    border-top: 2px solid gray;
    display: flex;
    flex-direction: column;

    div {
      margin: 6%;
    }

    input {
      margin: 0;
      padding: 1%;
      border: none;
      border-radius: 0;
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-color: transparent;
      border-bottom: 1px solid gray;
      transition: all 0.8s;
    }

    input:focus {
      border-bottom: 1px solid #0ecb27;
    }

    #button {
      input {
        padding: 3%;
        border: 1px solid #0ecb27;
        color: #0ecb27;
        transition: all 0.4s;
      }
      :hover {
        background-color: #0ecb27;
        color: white;
      }
    }
  }
  #useredittitle {
    font-family: 'Baloo', cursive;    
  }
}
